*{margin: 0;padding: 0;}
.outer{width: 6.40rem;height: 100%;position: relative;overflow: hidden;}
#box{width: 6.40rem;height: 4.80rem;position: absolute;top: 1.00rem;overflow: hidden;}
#box img{width: 6.40rem;height: 4.80rem;position: absolute;left: 0px;top: 0px;pointer-events: none;display: none;}
#box img:nth-child(1){display: block;}
.sll{
	width:0.70rem;
	height: 0.73rem;
	position: absolute;
	left: 1.40rem;
	top: 5.50rem;
}
.sll>img{
	display: block;
	width:0.70rem;
	height: 0.73rem;
}
.jia{
	width: 1.00rem;
	height: 1.00rem;
	position: absolute;
	left: 2.70rem;
	top: 5.50rem;
}
.jian{
	width: 1.00rem;
	height: 1.00rem;
	position: absolute;
	left: 4.40rem;
	top: 5.47rem;
}
.jian>img,
.jia>img{
	display: block;
	width: 1.00rem;
	height: 1.00rem;
}
.cartext{
	width: 6.40rem;
	height: 0.60rem;
	color: white;
	font-family: "微软雅黑";
	font-size: 0.40rem;
	text-align: center;
	line-height: 0.60rem;
	margin-top: 0.20rem;
}